#restaurantImg{
    height: 370px;
    width: 60%;
    margin-top: 56px; 
    padding-top:30px; 
    float:left;
}

#restaurantInfo{
    height: 370px;
    width: 40%;
    margin-top: 56px; 
    padding-top:30px; 
    float:left;
}

#reply{
    border-top: 30px;
    padding: 15px;
    width: 100%;
    float: inherit;
}

#reply img{
    width: 200px;;
}

.break{
    width:100%;
    height: 40px;;
}